@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --black: #000;
  --white: #fff;
  --gren: #58B94E;
  --blue: #18A7E5;
  --light-blue: #18A7E5;
  --dark-blue: #193258;
  --cyan: #104B59;
}